<div class="bg-blue my-10 gap-5 books-list-wrapper self-center">
    {% if books %} {% for book in books %}
    <div
        class="flex justify-center w-full max-w-[306px] h-full max-h-[460px] rounded-lg shadow-3xl hover:scale-105 duration-200 cursor-pointer place-self-center overflow-hidden pb-2"
    >
        <a href="{% url 'book' book.book_name %}" class="self-start text-xl font-semibold">
            <div class="w-[266px] h-full">
                <img
                    alt=""
                    class="w-full max-w-[266px] h-[276px] rounded-lg mt-5 self-center object-contain block book-image opacity-0 duration-300"
                    data-src="{{book.book_link}}"
                />
                <div class="mt-5 ml-2 text-[#000B33] text-break-words block">
                    <p>{{book.book_name}}</p>
                    <p class="text-base font-medium">{{book.author_name.author_name}} ({{book.book_year}})</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %} {% else %}
    <p>I couldn't find any results for this phrase.</p>
    {% endif %}
</div>
