{% extends 'main.html' %} {% block content %}

<main class="w-full h-auto">
    <div class="top-0 left-5 box-content w-[50px] h-[50px] p-5">
        <a href="{% url 'update-user' %}" class="flex w-full h-full items-center gap-2">
            <img src="../../static/images/Vector.svg" class="w-full h-full" />
            <span class="text-2xl font-semibold">BACK</span>
        </a>
    </div>
    <div class="w-screen px-5 max-w-[856px] m-auto mt-10 shadow-3xl rounded-lg mb-20 grid place-content-center pb-10">
        <h2 class="text-center text-4xl font-bold py-10 px-10 tracking-wide leading-snug">Change Password</h2>
        <div class="w-full max-w-[636px] lg:w-[636px]">
            <form method="POST">
                <div class="w-full password-label">
                    {% csrf_token %} {{ form.as_p }}
                    <div>
                        <button type="submit" name="update"
                            class="w-[215px] h-[50px] text-white text-[18px] font-semibold text-center bg-[#fd4c5c] rounded-md mt-10">Change</button>
                    </div>
                </div>
            </form>
</main>

{% endblock %}