{% extends 'main.html' %} {% block content %}

<main>
    <div>
        <div>
            <div>
                <div>
                    <a href="{% url 'home' %}">
                        <br />
                        back - button
                    </a>
                    <h3>Change password</h3>
                </div>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %} {{ form.as_p }}
                    <div>
                        <button type="submit" name="update">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
