{% extends 'main.html' %} {% block content %}

<main class="w-full h-auto">
    <div class="top-0 left-5 box-content w-[50px] h-[50px] p-5">
        <a href="{% url 'book' book.book_name %}" class="flex w-full h-full items-center gap-2">
            <img src="../../static/images/Vector.svg" class="w-full h-full" />
            <span class="text-2xl font-semibold">BACK</span>
        </a>
    </div>
    <div class="w-screen px-5 max-w-[856px] m-auto mt-10 shadow-3xl rounded-lg mb-20 flex flex-col pb-10">
        <h2 class="text-center text-4xl font-bold py-10 px-10 tracking-wide leading-snug">Edit Book</h2>
        <div class="max-w-[636px] w-10/12 self-center">
            <form class="form" action="" method="POST">
                <div class="w-full">
                    {% csrf_token %}
                    <div class="w-full rounded-lg mt-6">
                        <label for="book_name" class="block font-medium text-xl pb-3">Book title</label>
                        <input
                            type="text"
                            placeholder="{{book.book_name}}"
                            name="book_name"
                            class="w-full h-[60px] px-5 rounded-lg text-sm"
                        />
                    </div>

                    <div class="w-full rounded-lg mt-6">
                        <label for="book_year" class="block font-medium text-xl pb-3">Book year</label>
                        <input
                            type="text"
                            placeholder="{{book.book_year}}"
                            name="book_year"
                            class="w-full h-[60px] px-5 rounded-lg text-sm"
                        />
                    </div>

                    <div class="w-full rounded-lg mt-6">
                        <label for="author_name" class="block font-medium text-xl pb-3">Author</label>
                        <input
                            required
                            type="text"
                            value="{{books.author_name.author_name}}"
                            name="author"
                            list="author-list"
                            placeholder="{{book.author_name}}"
                            class="w-full h-[60px] px-5 rounded-lg text-sm"
                        />
                        <datalist id="author-list">
                            <select id="author-list">
                                {% for author in authors %}
                                <option value="{{author.author_name}}">{{author.author_name}}</option>
                                {% endfor %}
                            </select>
                        </datalist>
                    </div>

                    <div class="w-full rounded-lg mt-6">
                        <label for="publisher_name" class="block font-medium text-xl pb-3">Publisher</label>
                        <input
                            required
                            type="text"
                            value="{{books.publisher_name.publisher_name}}"
                            name="publisher"
                            list="publisher-list"
                            placeholder="{{book.publisher_name}}"
                            class="w-full h-[60px] px-5 rounded-lg text-sm"
                        />
                        <datalist id="publisher-list">
                            <select id="publisher_name">
                                {% for publisher in publishers %}
                                <option value="{{publisher.publisher_name}}">{{publisher.publisher_name}}</option>
                                {% endfor %}
                            </select>
                        </datalist>
                    </div>

                    <div class="w-full rounded-lg mt-6">
                        <label for="book_edition" class="block font-medium text-xl pb-3">Book edition</label>
                        <input
                            type="text"
                            placeholder="{{book.book_edition}}"
                            name="book_edition"
                            class="w-full h-[60px] px-5 rounded-lg text-sm"
                        />
                    </div>

                    <div class="w-full rounded-lg mt-6">
                        <label for="book_isbn" class="block font-medium text-xl pb-3">Book ISBN</label>
                        <input
                            type="text"
                            placeholder="{{book.book_isbn}}"
                            name="book_isbn"
                            class="w-full h-[60px] px-5 rounded-lg text-sm"
                        />
                    </div>

                    <div class="w-full rounded-lg mt-6">
                        <label for="book_link" class="block font-medium text-xl pb-3">Book image-link</label>
                        <input
                            type="text"
                            placeholder="{{book.book_link}}"
                            name="book_link"
                            class="w-full h-[60px] px-5 rounded-lg text-sm"
                        />
                    </div>

                    <div class="w-full h-full mt-10 flex gap-2">
                        <button
                            class="w-full max-w-[215px] h-[50px] text-[18px] font-semibold text-center border border-[#fd4c5c] text-[#fd4c5c] rounded-md"
                        >
                            <a href="{% url 'book' book.book_name %}"> Cancel </a>
                        </button>
                        <button
                            type="submit"
                            name="update"
                            class="w-full max-w-[215px] h-[50px] text-white text-[18px] font-semibold text-center bg-[#fd4c5c] rounded-md"
                        >
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
