{% extends 'main.html' %} {% block content %}
<main class="w-full h-auto">
    <div class="top-0 left-5 box-content w-[50px] h-[50px] p-5">
        <a href="{% url 'user-profile' %}" class="flex w-full h-full items-center gap-2">
            <img src="../../static/images/Vector.svg" class="w-full h-full" />
            <span class="text-2xl font-semibold">BACK</span>
        </a>
    </div>
    <div class="w-screen px-5 max-w-[856px] m-auto mt-10 shadow-3xl rounded-lg mb-20 grid place-content-center pb-10">
        <h2 class="text-center text-4xl font-bold py-10 px-10 tracking-wide leading-snug">Edit Profile</h2>
        <div class="w-full max-w-[636px] lg:w-[636px]">
            <form class="form" action="" method="POST">
                <div class="w-full">
                    {% csrf_token %} {% for field in form %}
                    <div class="w-full rounded-lg mt-6">
                        <label for="edit_profile" class="block font-medium text-xl pb-3">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <div class="w-full h-full">
                        <button
                            type="submit"
                            name="update"
                            class="w-[215px] h-[50px] text-white text-[18px] font-semibold text-center bg-[#fd4c5c] rounded-md mt-10"
                        >
                            Update
                        </button>
                        <div class="mt-5 font-semibold flex flex-wrap items-center">
                            Want to change password?
                            <a
                                href="{% url 'update-password' %}"
                                class="text-[#fd4c5c] text-xl underline font-bold block md:pl-5"
                                >Change password</a
                            >
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
